*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------Variables-----------*/

:root {
    --main-color: #FBBA3C;
    --ok-color: #FF9702;
    --form-grey: #F2F2F2;
    --border-grey: #EAEAEA;
    --light-grey: #E5E5E5;
    --grey: #C4C4C4;
}

/* ----------------Search--------------*/

.search-input-container {
    width: 43%;
    height: 45px;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid var(--main-color);
}

.search-input-container::before {
    content: '';
    position: absolute;
    background: url(../img/svg/loupe.svg) center center no-repeat;
    top: 28%;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 99;
}

/* ----------------justBtn--------------*/

.justBtn {
    width: 18%;
    height: 41px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: none;
}

/* ----------------Catalog-Btn--------------*/

.btn-catalog-container {
    width: 11.3%;
    position: relative;
}

.btn-catalog {
    width: 100%;
    height: 45px;
    padding: 14px 40px 14px 32px;
    outline: none;
    border: none;
}

.btn-catalog-container::before {
    content: '';
    position: absolute;
    background: url(../img/svg/burger.svg) center center no-repeat;
    left: 11%;
    top: 16.5px;
    width: 16px;
    height: 12px;
    z-index: 99;
}

/* ----------------Checkbox--------------*/

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
}

.checkbox:checked+label::before {
    background-color: opacity;
    background-image: url("../img/svg/yes.svg");
}

/* ----------------Radio--------------*/

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio+label {
    display: inline-flex;
    user-select: none;
}

.radio+label::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    margin-right: 3px;
    background: no-repeat center center;
}

.radio:checked+label::before {
    border-color: var(--main-color);
    background-image: url("../img/svg/radioActive.svg");
}

/* ----------------Svg-Btn--------------*/

.svg-btn {
    width: 85px;
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    outline: none;
}

/* ----------------Plus-minus-Btn--------------*/

.counter {
    text-align: center;
    height: 26px;
    width: 22px;
    outline: none;
    border: none;
    background-color: transparent;
}

.btn-plus, .btn-minus {
    font-size: 16px;
    outline: none;
    border: 1px solid var(--light-grey);
    background-color: transparent;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}